<ion-header>
  <ion-navbar>
    <ion-title>Ordenes</ion-title>
  </ion-navbar>
</ion-header>

<!-- Iteramos a nuestra variable _listaOrdenes.ordenestotales para
poner en una lista el nombre de las ordenes creadas -->
<ion-content padding class="bg-style">

  <ion-refresher (ionRefresh)="doRefresh($event);">
    <ion-refresher-content pullingText="Actualizar">
    </ion-refresher-content>
 </ion-refresher>

  <h1 class="tituloPrincipal">Comida pedida</h1>
  <ion-list inset *ngFor="let item of ordenes">
    <a href="#" (click)="detalle(item.id);" class="botonPersonalizado">Orden a Pagar: ${{item.total}}</a>
    </ion-list>
<!--
<button ion-item (click)="itemSelected(item)">
</button>
    <ul>
    <li *ngFor="let orden of _listaOrdenes.ordenestotales">
      {{orden.nombre}}
    </li>
  </ul>
-->
  <button ion-button full (click)="nextPage();">Nueva Orden</button>
</ion-content>
