<ion-header>
  <ion-navbar>
    <ion-title>
      Karaoke!!
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="bg-style">
  <section>
    <h1 class="tituloPrincipal">Busca tu cancion favorita</h1>
    <a href="#" class="button" *ngIf="searchResults" (click)="mostrarCanciones();">Lista de Reproducción</a>  
    <div>
      <ion-icon name="search"></ion-icon>

      <!--
      BUscador de Spotify
      -->
      <input [formControl] = "inputField" type="text" id="buscarcancion"
        placeholder="Busca una cancion..." autofocus>
    </div>

    <div id="listadeartistas">
      <ul>
        <!--
        Cada que encuentra resultados, muestra en una lista un checkbox,
        la imagen y el nombre del artista
        -->
        <div *ngFor="let item of searchResults">
          <li>

            <img src="{{ item.album.images['2']?.url }}" alt="{{ item.name }}"
              width="150" height="150">
            <p id="nombredelartista">Nombre:{{ item.name }}</p>
            <p id="nombredelartista">Album: {{ item.album.name }}</p>
            <p id="nombredelartista">Artista: {{ item.album.artists['0']?.name }}</p>
            <button ion-button [disabled]="disabled" (click)="agregarCancion(item.name,item.album.name,item.album.artists['0']?.name,
              item.duration_ms,item.album.images['0']?.url);">
          		Agregar Canción
          	</button>
          </li>
        </div>
      </ul>
    </div>



  </section>
</ion-content>
<!--
<ion-content>
  <button ion-button full color="verde_spotify">
  	<ion-icon name="ionic"></ion-icon>
  	Conectarse a Spotify
  </button>
  <h1 class="titulo">Selecciona una lista</h1>
  <ion-list>
  	<ion-item>
  		<ion-label>Selecciona PlayList</ion-label>
  		<ion-select [(ngModel)]="plist">
  			<ion-option value="p1">Baladas Románticas</ion-option>
  			<ion-option value="p2">Today's Top Hits</ion-option>
  			<ion-option value="p3">Éxitos MX</ion-option>
  			<ion-option value="p4">Boleros Pop</ion-option>
  			<ion-option value="p5">Rock en Español</ion-option>
  		</ion-select>
  	</ion-item>
  </ion-list>
  <h1 class="titulo">Selecciona tus canciones</h1>
  <ion-list>
	<ion-item>
      <ion-label>Photograph - Ed Sheeran</ion-label>
      <ion-checkbox color="primary"></ion-checkbox>
	</ion-item>
  	<ion-item>
      <ion-label>You're Beautiful - James Blunt</ion-label>
      <ion-checkbox color="dark"></ion-checkbox>
	</ion-item>
  	<ion-item>
      <ion-label>Llegaste tú - Jesse y Joy</ion-label>
      <ion-checkbox color="danger"></ion-checkbox>
	</ion-item>
  	<ion-item>
      <ion-label>Te Regalo - Carla Morrison</ion-label>
      <ion-checkbox color="royal"></ion-checkbox>
	</ion-item>

	<ion-item>
      <ion-label>Moonlight - Ariana Grande</ion-label>
      <ion-checkbox color="energized"></ion-checkbox>
	</ion-item>
  </ion-list>
  <button ion-button round>Enviar Selección</button>
</ion-content>
-->
