{{> header }}  
   <div class="clasePrueba">  
      <h1>{{ title }}</h1>  
      <p>Hola</p>  
      <a href="https://www.google.com">Google</a>
      <ul class=listado>
         {{# features }}
         <li>{{ item }}</li>
         {{/ features }}
      </ul>
      <p class="listadoHijo">estilos con el hijo</p>
      <p class="estiloVar">estilo variable</p>
   </div>
   {{> listado}}
</div>
{{> footer }}